#header_text{margin:7px 0px 0px 0px; text-align: center; color:#fff;}
@media (min-width:100px) and (max-width:490px) {#header_text {font-weight: bold; font-size: 12px; margin-top: 15px;}}
.navbar-back-new {background-color: #38873c;}
.nav-new {margin-left: 7px;margin-right: 7px;margin-top: 3px;margin-bottom: 0;list-style: none;}
.login-wrapper{width: 300px;position: absolute;left: 50%;top: 50%;margin-left: -150px;margin-top: -150px;}
@media (max-height:471px){.login-wrapper{width: auto;position: absolute;left: 50%;top: 50%;margin-left: -120px;margin-top: -35px;}}
.login-btn{background-color:#E48561; color:#32434D; }
@media (min-width:100px) and (max-width:490px) {.login-btn {font-weight: bold; font-size: 9px;}}
.login-btn:hover{background-color: #efae95; color:#38873c; font-weight: bold;}
.login-btn:focus{background-color: #efae95; color:#38873c; font-weight: bold;}



.popup-header{height: 40px; background: #32434D;text-align: center;color: #fff;border-radius: 2px 2px 0 0;webkit-border-radius: 2px 2px 0 0; line-height: 40px;}
.btn-warning-new {color: #fff;background-color:#E48561;border-color:#E48561;}
.btn-warning-new:hover{color:#fff; background-color: #f5a07f}
#activate_button{width:260px; font-weight:bold;}
@media (min-width:100px) and (max-width:490px){#activate_button{width:210px;}}

.well-new {min-height: 20px;padding: 19px;margin-bottom: 20px;background-color: #f5f5f5;border: 1px solid #e3e3e3;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);}
.well-new blockquote {border-color: #ddd;border-color: rgba(0, 0, 0, .15);}
.navbar-new {position: relative;min-height: 50px;margin-bottom: 0px;  border: 1px solid transparent;}
.sidebar {width: 100%;background-color: #2d3a42;position: absolute;top: 0;left: 0; height: 750px;}
.sidebar-content {display: block; margin-top: 60px; position: relative; height: 100%; margin-bottom: 40px; padding-left: 10px; padding-right: 5px;}

.list-group-new{height: 100%;}

.list-group-item-new {background-color: #38873c;border-color:#eed739;border-radius: 8px;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);}
a.list-group-item-new,
span.list-group-item-new,
li.list-group-item-new{color: #fff;padding-left: 15px;}

a.list-group-item-new:hover{background-color: #2d3a42; color: #fff; font-weight: bold;}
a.list-group-item-new:focus{background-color: #eed739; color: #fff !important; font-size: 18px; font-weight: bold;}
.nav-pills-new > li {float: left;}
.nav-pills-new > li > a {border-radius: 4px;}
.nav-pills-new > li + li {margin-left: 2px;}
.nav-pills-new > li.active > a,
.nav-pills-new > li.active > a:hover,
.nav-pills-new > li.active > a:focus {color: #fff;background-color: #38873c;}

@media (min-width:100px) and (max-width:550px) {.ul_text{font-size: 8px;}}

.footer{    border-top: 1px solid #ddd; padding: 12px 0; text-align: center; font-size: 11px; color: #777; background-color: #fff;}
.page-condensed .footer {position: absolute;bottom: 0; width: 100;padding-left: 25px; padding-right: 25px;}

.form-group-new{margin-bottom: 15px;}
.form-group-new label{color: #38873c;}

.form-group-new input,
.form-group-new select{margin-left: 1px; width: 50%; height: 30px; border-radius: 3px; border:1px solid #2d3a42; float:right; padding-left: 5px;}
@media (min-width:100px) and (max-width:550px) {
  .form-group-new input,
  .form-group-new select{width: 20%; height: 9%; padding-left: 1px; font-size: 8px;}
}

.form-group-new input:hover,
.form-group-new select:hover{color: #38873c; background-color: #eed739; font-weight: bold;}

.form-image{margin-bottom:15px; margin-left: 10%;}
.form-image label{color: #38873c; font-size: 12px;}
.form-image div{border:1px solid #2d3a42;  border-radius: 3px; width: 80%; height: 70%;}
.form-image input{width: 40%; height: 40px; border-radius: 3px; border:1px solid #2d3a42; float:left; padding-left: 5px; background-color:#eed739; color: #fff; font-weight: bold;}
.form-image input[type=file]{background-color:#eed739; font-size:70%;}
.form-image input[type=submit]{background-color:#eed739; font-size:70%;}
#img_upload{width: 100%; height: 100%;}
@media (max-width:500px) {
.form-image div{width: 90px; height: 80px;}
.form-image input{width: 90px; height: 30px; border-radius: 3px; border:1px solid #2d3a42; background-color:#eed739; color: #fff; font-weight: bold;}}



.jumbotron-new {padding-top: 15px; padding-bottom: 15px; margin-bottom: 15px; color: #38873c; background-color: #eed739; text-align: center; font-size: 20px;}
@media (min-width:100px) and (max-width:400px) {.jumbotron-new{font-size: 12px;}}

.navbar-fixed-top-new{position: fixed; z-index: 1030;}

#chat_container{width: 100%; background: #acd62a; margin: 0 auto; padding: 20px; }
#chat_box{width: 100%; height: auto;}
#chat_content{width: 100%; padding: 5px; margin-bottom: 2px; border-bottom: 4px solid #38873c; font-weight: bold; clear:both; text-align: center; background-color:#38873c; height:5%;}

#chat_name{color:white; padding-right:2px;}
#chat_date{padding-left:3px; padding-right:3px; float:left; color:#333; font-weight:bold; background-color:#eed739;}
#chat_img{margin-left:5px; padding-right:5px; float:left;}
#chat_img img{width: 80px; height: 55px;}
#chat_text{color:black; float:left;margin-right:3%;margin-left:3%; border: 0px; background: #acd62a; width:70%; font-weight: bold;}
@media(max-width:1030px) {#chat_text{ width:60%;  font-size: 11px; font-weight: none;}}
@media(max-width:800px) {#chat_text{ width:50%;  font-size: 10px;font-weight: none;}}
@media(max-width:640px) {#chat_text{ width:40%; font-size: 8px;font-weight: none;}
#chat_img img{width: 50px; height: 35px;}
#chat_date{padding-left:1px; padding-right:1px; font-size: 8px;}
#chat_name{color:white; padding-right:1px; font-size: 10px;}
#chat_container{width: 100%; padding: 5px; }}
@media(max-width:360px) {#chat_img img{width: 30px; height: 25px;}}



#chat_form input[type='text']{width: 100%; height: 40px; border: 1px solid #38873c; border-radius: 5px;}
#chat_form input[type='text']:hover{background-color: #38873c; color: white; font-weight: bold;}


#chat_form input[type='submit']{width: 100%; height: 40px; border: 1px solid #38873c; border-radius: 5px;  background-color: #eed739; color: #38873c; font-weight: bold; font-size: 16px;}
#chat_form input[type='submit']:hover{background-color: #38873c; color:white; }

#chat_form textarea{width: 100%; height: 40px; border: 1px solid #38873c; border-radius: 5px;}
#chat_form textarea:hover{background-color: #38873c; color: white; font-weight: bold;}
